.logo {
  font-size: 37px;
  margin-left: 15px;
  color: #222 !important;
}

.menu {
  font-size: 25px;
  color: #222 !important;
  transition: none !important;
}

.cart-icon {
  color: #c0e218;
  font-size: 25px;
  transition: none !important;
}

.navbar-light .name-logo {
  margin-left: 6px;
}

.search {
  color: #222 !important;
}

.eliminateIcon {
  text-align: end;
  cursor: pointer;
  margin: 5px 5px 0 0;
}
