@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&display=swap');
/* font-family: 'Roboto Mono', monospace; */
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
/* font-family: 'Kanit', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');
/* font-family: 'Rajdhani', sans-serif; */

body {
  padding: 0;
  margin: 0;
  background-color: #fff;
  width: 100%;
  font-family: 'Kanit', sans-serif !important;
  box-sizing: border-box;
}

p {
  font-size: 11px;
}

/* HEADER START */

.offcanvas {
  width: 450px !important;
}

.header-container {
  z-index: 1;
  width: 100%;
  background-color: #ffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 20px 0 #1616164b;
  transition: 200ms ease-in-out, 200ms ease-in-out !important;
}

.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: 'Kanit', sans-serif;
}

.name-logo {
  color: #c0e218 !important;
  font-size: 1.4rem !important;
}

.nav-container {
  width: 50%;
  display: flex;
  justify-content: end;
}

.ul-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.list {
  font-style: none;
  list-style: none;
}

.list a:hover {
  color: #c0e218 !important;
}

a {
  color: #000000;
  text-decoration: none;
  font-family: 'roboto mono';
}

.navbar-toggler:focus {
  box-shadow: none !important;
}
.navbar-toggler {
  font-size: 28px !important;
  align-content: center !important;
}

.btn:focus {
  box-shadow: none !important;
}

.btn {
  border: none !important;
  background-color: #f8f9fa !important;
}

/* HEADER END */

/* CAROUSEL START */

.carousel {
  margin: 95px auto 5px auto;
  width: 85%;
}

.corousel__contenedor {
  width: 100%;
  position: relative;
}

.carousel__anterior,
.carousel__siguiente {
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  border: none;
  top: calc(50% - 35px);
  cursor: pointer;
  line-height: 20px;
  font-size: 30px;
  text-align: center;
  background: none;
  color: #c0e218;
  opacity: 80%;
}

.carousel__anterior {
  left: -40px;
}

.carousel__siguiente {
  right: -40px;
}

.carousel__elemento {
  text-align: center;
  gap: 55px;
}

.carousel__indicadores .glider-dot {
  display: block;
  width: 30px;
  height: 4px;
  background: #c0e218;
  opacity: 0.2;
  border-radius: 0;
}

.glider {
  overflow-y: hidden !important;
  overflow-x: hidden !important;
}

.carousel__indicadores .glider-dot:hover {
  background: #c0e218;

  opacity: 1;
}

.carousel__indicadores .glider-dot.active {
  background: #aaa;

  opacity: 1;
}

/* CAROUSEL END */

/* BANNER SECTION START */
.banner-container {
  width: 100%;
  display: flex;
  background: url(../img/banner-bg.jpg) center no-repeat;
  background-size: cover;
}

.container-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  gap: 20px;
}

.form-container {
  display: flex;
  width: 100%;
  height: 55px;
  gap: 0px;
  margin-bottom: 1.5rem;
  position: fixed;
  z-index: 2;
  top: 55px;
}

.search {
  position: absolute;
  margin: 20px 0 0 16px;
}

.input-class {
  width: 100%;
  border: 0px solid transparent;
  transition: 0.3s ease all;
  font-size: 15px;
  font-weight: 300;
  background: linear-gradient(270deg, #c0e218 0%, #c0e218 100%);
  box-shadow: 4px 0px 30px #1616164b;
  color: #222222 !important;
  padding: 0 40px;
  font-family: 'roboto mono';
}
.input-class::placeholder {
  color: #222222 !important;
}

.input-class:focus {
  outline: none;
  color: #fff;
}

.grid-container {
  margin-top: 40px;
  display: flex;
  border-radius: 1px;
  flex-direction: column;
  width: 45%;
}

.cards-container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, 1fr);
  gap: 20px;
}

.cards {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  border-radius: 2px;
  background-color: #fffefe;
  height: 450px;
}

#price {
  font-size: 16px;
}

.name {
  margin: 2px;
  font-size: 15px;
  font-weight: 500;
}

/* CARRITO START */
.tittle-carrito {
  color: #000000;
  margin-left: 20px;
}

.carrito {
  margin: auto;
}

.cart-flex {
  display: flex;
  width: 100%;
}

.add-child {
  display: flex;
  width: 100%;
  align-items: center;
  justify-items: center;
  gap: 6px;
}

.cantindad-cart {
  margin: 2px;
  font-size: 13px;
  font-weight: 500;
  text-align: center;
}

.filter {
  display: flex;
  width: 100%;
}

.style-cart {
  margin: 2px;
  font-size: 13px;
  font-weight: 500;
}

.cart {
  align-items: center;
  align-self: center;
  background-color: #ff0e0ece;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 500;
  justify-content: center;
  min-height: 2.3rem;
  text-decoration: none;
  transition: all 250ms;
  width: 3rem;
}

.total-container {
  display: flex;
  text-align: center;
  margin-top: 20px;
  padding-top: 20px;
  height: 100%;
  justify-content: space-between;
  border-top: 1px solid #4b4b4b8e;
  width: 100%;
}

/* CARRITO END */

.add {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 50%;
}

.button-add {
  align-items: center;
  align-self: center;
  background-clip: padding-box;
  background-color: #222222;
  border: 1px solid transparent;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff !important;
  cursor: pointer;
  display: inline-flex;
  font-family: 'Rajdhani', sans-serif;
  font-weight: 400;
  justify-content: center;
  line-height: 1.25;
  margin: 2px 0 6px 0;
  min-height: 2.6rem;
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  vertical-align: baseline;
  width: 8rem;
}

/* #222222 */

.button-add:hover,
.button-add:focus {
  background-color: #c0e218;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.cart:hover,
.cart:focus {
  background-color: #f31d16;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-add:hover {
  transform: translateY(-1px);
}

.button-add:active {
  background-color: #c85000;
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  transform: translateY(0);
}

.img-container {
  align-self: center;
  background: center no-repeat;
  background-size: cover;
  box-shadow: 0px 0px 4px #1616164b;
  height: 50%;
  margin-bottom: 10px;
  width: 100%;
}

.img-cart {
  background: center no-repeat;
  background-size: cover;
  margin-bottom: 10px;
  width: 30%;
}

.filter-container {
  margin-top: 40px;
  background: #fff;
  border-radius: 1px;
  box-shadow: 1px 1px 5px #1616164b;
  min-width: 300px;
  height: 100%;
  font-family: 'Rajdhani', sans-serif;
}

.filter-category {
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.filter-panel {
  display: flex;
  flex-direction: column;
}

.filter-panel-color {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding-top: 20px;
}

.color-filter {
  cursor: pointer;
}

.backgroud-style {
  background: #c0e218;
  padding: 0 30px;
  height: 60px;
  display: flex;
  align-items: center;
  color: #fff;
  font-family: 'roboto mono';
}

.main-category {
  list-style: none;
  padding: 0 30px;
  margin: 0;
}

.nav-main {
  width: 100%;
  height: 51px;
  display: flex;
  border-bottom: 1px solid #dbdbdbc5;
}

.nav-main span:hover {
  color: #c0e218;
}

.nav-sub {
  display: none;
}

.acc-container {
  height: 100%;
  display: flex;
  gap: 4px;
}

.cart-footerG {
  align-items: center;
  align-self: center;
  background-color: #c0e218;
  border: 1px solid transparent;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 600;
  justify-content: center;
  min-height: 2.6rem !important;
  text-decoration: none;
  transition: all 250ms;
  width: 7rem !important;
  font-size: 11px;
}

.cart-footerR {
  align-items: center;
  align-self: center;
  background-color: #ff0e0e;
  border: 1px solid transparent;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 600;
  justify-content: center;
  min-height: 2.6rem;
  text-decoration: none;
  transition: all 250ms;
  width: 7rem;
  margin: 11px 0 !important;
}

.cart-footerG:hover,
.cart-footerG:focus {
  color: #fff !important;
  background-color: #17c33a;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.cart-footerR:hover,
.cart-footerR:focus {
  background-color: #f31d16;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.cart-footerG:hover {
  transform: translateY(-1px);
}

.cart-footerG:active {
  background-color: #17c33a;
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  transform: translateY(0);
}

.cart-footerR:hover {
  transform: translateY(-1px);
}

.cart-footerR:active {
  background-color: #f31d16;
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  transform: translateY(0);
}

/* BANNER SECTION END */

/* Contacto Styles */

.direct {
  width: 75%;
  text-align: center;
  background: #c0e218;
  box-shadow: 4px 0px 30px #1616164b;
  margin: 20px 0;
  color: #fff;
  font-size: 1.5rem;
  font-family: 'Rajdhani', sans-serif;
  border-radius: 2px;
}

.map {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.contact {
  background-color: #000000;
  height: 400px;
}

/* End Contacto Styles */

/* START Footer Styles*/

.footer-area {
  padding: 100px 0;
  background-color: #222222;
  margin-top: 35px;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin: 25px auto auto auto;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.footer-text {
  padding-top: 80px;
}

.footer-text {
  color: #636262;
  font-size: 0.9rem;
}

.footer-text a,
.footer-text i {
  color: #ffba00;
}

.single-footer-widget h6 {
  color: #fff;
  font-size: 1.2rem;
}

.single-footer-widget p {
  color: #636262;
  font-size: 0.8rem;
}

.single-footer-widget .click-btn {
  color: #fff;
  border-radius: 0;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding: 6px 12px;
  border: 0;
}

.single-footer-widget .click-btn {
  background: linear-gradient(90deg, #ffba00 0%, #ff6c00 100%);
}

.single-footer-widget input {
  border: none;
  width: 80% !important;
  font-weight: 300;
  background: #fff;
  color: #777;
  padding-left: 20px;
  border-radius: 0;
  font-size: 14px;
}

.single-footer-widget input:focus {
  box-shadow: none;
}

.footer-social a:hover i {
  color: #ffba00;
}

.footer-social a {
  padding-right: 25px;
}

.footer-social i {
  color: #cccccc;
  transition: all 0.3s ease 0s;
}

.instafeed li img {
  margin: 5px;
}

.instafeed li {
  overflow: hidden;
  width: 25%;
  padding-left: 0;
}

.instafeed {
  padding-left: 0;
}

/* END Footer Styles*/

.filtro {
  display: none;
}
