@media screen and (max-width: 950px) {
  .ul-container {
    display: none;
  }
}

@media screen and (max-width: 1150px) {
  .formulario__validacion-estado {
    left: 94%;
  }

  .formulario__validacion-estado-ccv {
    left: 82%;
  }
}

@media screen and (min-width: 500px) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .cart-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .container {
    max-width: 540px;
  }
}

@media screen and (max-width: 500px) {
  iframe {
    width: 400px;
  }

  .carousel {
    width: 80%;
  }
}

@media screen and (max-width: 320px) {
  .map iframe {
    width: 300px;
  }
  
  .logo{
    display:none;
  }

  .carousel {
    width: 70%;
  }
}

@media screen and (min-width: 1300px) {
  .cards-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .cart-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .formulario-tarjeta .grupo-select i {
    position: relative;
    bottom: 55px;
    left: 85%;
    transition: 0.3s ease all;
  }
}

@media screen and (min-width: 1900px) {
  .cards-container {
    grid-template-columns: repeat(4, 1fr);
  }
  .cart-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 992px) {
  .section-container {
    margin: 15px auto 0 auto;
  }

  .contenedor {
    margin: auto;
  }

  .section_gap {
    padding: 80px 0;
  }

  .single-footer-widget {
    margin-bottom: 40px;
  }

  .footer-text {
    padding-top: 40px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media screen and (max-width: 768px) {
  iframe {
    width: 400px;
  }

  .container-section {
    flex-direction: column;
    align-items: center;
  }

  .cards-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .cart-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .filter-container {
    width: 80%;
  }

  .form1,
  .form2 {
    width: unset;
  }
}
